{
  "extends": [
    "airbnb-typescript"
  ],
  "plugins": ["jest"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/jsx-props-no-spreading": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "react/prop-types": 0
  },
  "env": {
    "jest/globals": true
  },
  "globals": {
    "document": true
  }
}
